extends ../layout

block content
    a.btn.btn-success(href='/usuarios/create') Nuevo Usuario
    br
    br
    table.table
        thead
            tr
                th(scope='row') #
                th(scope='row') Nombre
                th(scope='row') Email
                th(scope='row') Verificado
                th(scope='row')
                th(scope='row')
        tbody
            each usuario in usuarios
                tr
                    td(scope='row')
                        =usuario._id
                    td= usuario.nombre
                    td= usuario.email
                    td= usuario.verificado ? 'SI':'NO'
                    td
                        a.btn(href='usuarios/'+usuario.id+'/update') Editar
                    td
                        form.inline(method='post' action='usuarios/'+usuario.id+'/delete')
                            input(type='hidden' name='id' value=usuario.id)
                            button.link-button.btn-danger(type='submit' name='submit_param' value='OK') Eliminar